.hg-header {

    display: flex;
    position: fixed;
    top: 0;
    width: 100%;

    .navbar {
        flex-grow: 1;
    }

    .navbar,
    .hamburger-menu {
        display: flex;
        flex-wrap: wrap;
        list-style: none;

        gap: 0.3rem;

        position: static;
        justify-content: space-evenly;
        align-items: flex-start;

        background: pink;

        .menu-item {
            background: orange;
        }

        .submenu-item {
            flex-shrink: 1;
            background: greenyellow;
            list-style: none;

            display: none;
            flex-direction: column;
            align-items: center;
        }

        .submenu-btn:hover {
            .submenu-item {
                display: block;
            }
        }
    }

}

.hg-btn {
    display: inline-block;
    width: 235.262px;
    margin: auto;
    padding: 22px 43px;
    justify-content: left;

    line-height: 24px;
    color: white;
    font-weight: bolder;

    border: 0ch;
    border-radius: 5px;

}

.hg-btn-primary {
    background: #fc5155;

}

.hg-btn-secondary {
    background: #6747c7;
}

.hg-main-page {
    background-image: url("slider_bg03.png");
    padding: 0px 15px;
    display: flex;
    flex-direction: column;

    .hg-main-page-title {
        display: block;

        line-height: 44.2px;
        height: 88.4px;
        font-weight: 700;

        text-align: left;
        margin-block-end: 30px;
    }

    .subtitle {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        box-sizing: border-box;

        text-align: left;
        font-weight: 400;
        line-height: 31.6px;
        margin-bottom: 55px;
    }

    span {
        font-weight: bold;
        color: #fc5155;
    }

}

.hg-features-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}