body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
}

.navbar {
    overflow: hidden;
    background-color: transparent;

    display: block;
    float: left;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.navbar li {
    display: block;
    float: left;
    
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.submenu li {
    float: left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.submenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li:hover,
.submenu:hover li {
    color: orange;
}

.hg-main-page {
    background-image: url("C:\Users\tuna_\OneDrive\Masaüstü\Frontend Projects\assignment01\slider_bg03.png");

}

.hg-main-page h2 {
    font-family: 'Poppins', sans-serif;
    color: #47495a;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: normal;
}