/* Create your test CSS here */

.special {
    color:midnightblue;
}

p {
    color: aqua;
}

li {
    display: inline;
    float: left;
    display: block;
    padding: 8px;
}

.vırt-zırt {
    border: dashed black;

}

.vırt-zırt li {
    border: solid red;
    list-style: lower-alpha;
    color: cornflowerblue;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;

}

ul .vırt-zırt:active {
    border: 1px;
    display: none;
}

ul .vırt-zırt:hover {
    display: contents;
}


.main-page span {
    text-decoration-style: dotted;
    color:limegreen;
}

/* .main-page span ile .shiny-tuna'daki renkler birbirinin aynısı, farklı renk yapamıyorum (span'lerde) */
.shiny-tuna {
    color:black;
    text-decoration: wavy;
    text-indent: 5%;
    font-style: italic;
    font-weight: bolder;
}

.main-page em {
    font-weight: bold;
    color:coral;

}

.hg-header {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}