.container {
    background: pink;
    height: 50vh;
    width: 80vw;
    padding: 0.5em;
    margin: 25vh auto 0;
 
    display: flex;
    flex-direction: column;

    align-items: stretch;
}

.item {
    background: lightblue;
    margin: 0.5em;
}

.one {
    flex: 2 250px; 
    //flex is shorthand for
    //flex-grow, flex-shrink, flex-basis
    order: 2;
}

.two {
    flex: 1 2 250px;
    align-self: flex-end;

    order: 3;
}
 
.three {
    flex: 1 2 250px;
    order: 1;
}